
    <h2>Список планет</h2>
        <div class="card">
            <div class="card">
                <div class="row">
                    <div class="col-3">
                        <strong>Наименование</strong>
                    </div>
                    <div class="col-3">
                        <strong>Диаметр, км</strong>
                    </div>
                    <div class="col-3">
                        <strong>Население, млн</strong>
                    </div>
                    <div class="col-3">
                        <strong>Действия</strong>
                    </div>
                </div>
            </div>
            <app-planet-list-item
            *ngFor="let planet of planetes"
            [planet]="planet"
            >
            </app-planet-list-item>
        </div>

<div class="container" *ngIf="loading">
    <p>Загрузка данных с сервера...<p></p>
</div>

