<div>
    <div class="row">
        <div class="col-3">
            <p>{{planet.name}}</p>
        </div>
        <div class="col-3">
            <p>{{planet.diameter/1000}}</p>
        </div>
        <div class="col-3">
            <p>{{planet.population/1000000}}</p>
        </div>
        <div class="col-3">
            <button *ngIf="planet.visit; else wantBtn" mat-button color="accent" (click)="noVisit(planet.name)">В списке</button>
            <ng-template #wantBtn>
                <button mat-button color="primary"  (click)="wantVisit(planet.name)">Хочу посетить</button>
            </ng-template>
        </div>
    </div>
</div>
