<div class="container">
    <h1>Star Wars API</h1>
    <p>https://swapi.dev</p>
    <h2>Xочу посетить:</h2>
    <app-want-to-visit
        *ngFor="let planet of planetes"
        [planet]="planet"
    ></app-want-to-visit>
    <app-planet-list></app-planet-list>
</div>